/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Raleway', sans-serif;
}

hr{
    border: solid 4px;
    border-color: #247794; 
    margin: 0px ;


}

/* HEADER */
header{
    background-color: #33a0c6;
    height: 280px;
    width: 100vw;
    text-align: center;
}

h1{
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    line-height: 55px;
    padding: 10%;
}

span{
    color: #33a0c6;
    background-color: white;
}

header h2{
    font-size: 25px;
    font-variant: small-caps;
}


/* MAIN */

main{
    padding: 0px 20px 0px 20px ;
}

main hr{
    border: dashed 1px;
    border-color: #2c2c2c; 
    margin-top: 50px;
}

/* ELEMENTI NEL MAIN */

div h2{
    margin: 50px 5px 35px 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #247794;
}

h3{
    font-size: 25px;
    padding: 20px 0px;
    font-weight: 500;
}

p, ul{
    font-size: 22px;
    line-height: 35px;
    font-family: Helvetica, Arial,  sans-serif;
    font-weight: 300;
}

b{
    font-weight: 600;
}

strong{
    color: #247794;
}

figure img{
    border: solid #d7d7d7 1px;
    padding: 15px;
}

figure{
    
    text-align: center;
}

figcaption{
    font-size: 22px;
    text-align: center;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;

}

address{
    font-size: 22px;
    padding: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;

}

img{
    padding: 5px;
    
}

a{
    color: #c95865;
}

mark{
    color: white;
    background-color: #247794;
    font-weight: 300;
}

blockquote{
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 25px;
    text-align: center;
    background-color: #e3e3e3;
    border-radius: 20px;
    font-style: italic;
}

blockquote p{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 20px;
}

ul{
    font-size: 22px;
    line-height: 35px;
    padding: 35px 0px 0px 50px;
}

dl{
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 80px;
}

dd{
    font-size: 22px;
    line-height: 35px;
    padding-left: 35px;
}

/* FOOTER */

footer{
    background-color: #363636;
    color: white;
    text-align: center;
    padding: 20px;
}