/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Raleway', sans-serif;
}

hr{
    border: solid 4px;
    border-color: #247794; 
    margin: 0;
}

/* HEADER */
header{
    background-color: #33a0c6;
    height: 280px;
    width: 100vw;
    text-align: center;
}

h1{
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    line-height: 55px;
    padding: 10%;
}

span{
    color: #33a0c6;
    background-color: white;
}

header h2{
    font-size: 25px;
    font-variant: small-caps;
}


/* MAIN */

main{
    padding: 0px 15px 0px 15px ;
}

main hr{
    border: dashed 1px;
    border-color: #2c2c2c; 
    margin-top: 60px;
}

/* ELEMENTI NEL MAIN */

div h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #247794;
    padding: 10%;
    font-weight: 500;
    text-align: center;
}

h3{
    font-size: 25px;
    padding: 20px 0px;
    font-weight: 500;
}

p{
    font-size: 22px;
    line-height: 30px;
}
b{
    font-weight: 600;
}
figure img{
    align-items: center;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    text-align: center;
}
figcaption{
    font-size: 22px;
    text-align: center;
    padding: 10px 0px;

}

address{
    font-size: 22px;
    padding: 30px 0px;
}

img{
    padding: 5px;
}

a{
    color: #c95865;
}

mark{
    color: white;
    background-color: #247794;
}

blockquote{
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 35px;
    text-align: center;
    background-color: #e3e3e3;
    border-radius: 20px;
    font-style: italic;
}

blockquote p{
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 20px;
}


/* FOOTER */
